<h1>Log In </h1>
<form action="/login" method="POST">
    <label>User  Name:</label><br/>
    <input type="text" name="username" placeholder="name"><br/>
    <label>Password: </label><br/>
    <input type="password" name="password" placeholder="password"><br/>
    <button>Submit</button>
</form>