<form action="/register" method="POST">
    <label>Name</label><br/>
    <input name="username" type="text"><br/>
    <label>Name</label><br/>
    <input type="password" name="password"><br/>
    <button>Submit</button>
</form>